.box{
    height: 140px;
    width: 140px;
    background-color: orange;
    padding: 10px;
    color:darkslategray;
}
.box .tooltip{
    visibility: hidden;
    width: 40px;
    height: 10px;
    font-size: 10px;
    background-color: black;
    margin: 12px;
    padding: 5px;
    text-align: center;
}
.box:hover .tooltip{
    visibility: visible;
}
.box:hover{
    background-color: darkturquoise;
    font-weight: bold;
    color:firebrick;
}
.box:active{
    height: 250px;
    width: 250px;
    font-size: 20pt;
}
input:focus{
    font-size: 30pt;
    width: 200px;
}