#first{
    font-family: 'Courier New', Courier, monospace;
}
#second{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#s1{
    background-color: bisque;
}
#s2{
    background-color: aqua;
}